.loaderContainer {
  display: flex;
  padding: 20px 0;
  height: 100%;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  color: #fff;
}

.fullScreen {
  position: fixed;
  display: flex;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 9999;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.4);
}
